#Becoming .Header .Header-LF h1 {
    font-family: 'Montserrat';
    font-size: 65px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

#Becoming .Header .Header-LF #Body {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

#Becoming .Header {
    align-items: flex-start;
}

#Becoming .Text-Cards {
    margin: var(--page-padding);
    padding: var(--sectioning-gap);
}

#Becoming .Text-Cards .Text-Card {
    margin: var(--sectioning-gap);
}

#Becoming .Text-Cards> :first-child .Icon-Container {
    display: flex;
    align-items: center;
    gap: 1em;
}

#Becoming .Text-Cards .Text-Card:nth-child(2) .Text-Container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#Becoming .Text-Cards .Text-Card:nth-child(1) .Text-Container h6 {
    display: none;
}

#Becoming .Text-Cards h6 {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    margin: 0;
}

#Becoming .Text-Cards p,
#Becoming .Text-Cards li {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    color: #858585;
}

#Becoming .Text-Cards .Text-Card:nth-child(2) #one,
#Becoming .Text-Cards .Text-Card:nth-child(2) #three,
#Becoming .Text-Cards .Text-Card:nth-child(2) #five,
#Becoming .Text-Cards .Text-Card:nth-child(2) #seven,
#Becoming .Text-Cards .Text-Card:nth-child(2) #nine {
    font-weight: 700;
}

#Becoming #Image-Text-Box {
    padding: calc(2 * var(--flex-gap));
    background: #F6F6F6;
    border-radius: 38px;
}

#Becoming .Text-Card-Box .Intro-Text {
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: #3734A9;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#Becoming .Text-Card-Box .Text-Container h6 {
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: 0em;
    margin: 0;
}

#Becoming .Text-Card-Box .Text-Container .Body-Text {
    font-family: 'Manrope';
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #505887;
}

#Becoming .Text-Card-Box .Text-Container li {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #64607D;
}

#Becoming .Utility-Box .Text-Container h6 {
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: -0.02em;
    margin: 0;
}

#Becoming .Utility-Box .Text-Container .Body-Text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.02em;
    text-align: left;
}

#Becoming .Calendly-Box {
    padding: var(--sectioning-gap);
}

@media screen and (max-width: 1728px) {

    #Becoming .Text-Card-Box .Text-Container h6,
    #Becoming .Utility-Box .Text-Container h6 {
        font-size: 45px;
        line-height: 55px;
    }
}

@media screen and (max-width: 1440px) {
    #Becoming .Header .Header-LF h1 {
        font-size: 45px;
        line-height: 60px;
    }

    #Becoming .Header .Header-LF #Body {
        font-size: 17px;
        line-height: 25px;
    }

    #Becoming .Text-Cards h6 {
        font-size: 30px;
        line-height: 40px;
    }

    #Becoming .Text-Cards p,
    #Becoming .Text-Cards li {
        font-size: 17px;
        line-height: 30px;
    }

    #Becoming #Image-Text-Box {
        padding: var(--flex-gap);
    }

    #Becoming .Text-Card-Box .Text-Container h6,
    #Becoming .Utility-Box .Text-Container h6 {
        font-size: 35px;
        line-height: 45px;
    }

    #Becoming .Text-Card-Box .Text-Container .Body-Text {
        font-size: 20px;
        line-height: 30px;
    }

    #Becoming .Text-Card-Box .Text-Container li {
        font-size: 15px;
        line-height: 30px;
    }
}

@media screen and (max-width: 1024px) {
    #Becoming .Header {
        flex-direction: column;
    }

    #Becoming .Text-Card-Box .Text-Container h6,
    #Becoming .Utility-Box .Text-Container h6 {
        font-size: 30px;
        line-height: 35px;
    }

    #Becoming .Utility-Box .Text-Container .Body-Text {
        font-size: 16px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    #Becoming .Text-Cards>:first-child .Icon-Container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 500px) {
    #Becoming .Header .Header-LF h1 {
        font-size: 30px;
        line-height: 38px;
    }

    #Becoming .Text-Cards .Icon-Container img {
        width: 15%;
    }

    #Becoming #Image-Text-Box {
        padding: var(--page-padding);
        margin: 0;
        border-radius: 0;
    }

    #Becoming #Image-Text-Box .Utility-Box .Icon-Container img {
        width: 20%;
    }
}

@media screen and (max-width: 280px) {
    #Becoming .Header .Header-LF h1 {
        font-size: 20px;
        line-height: 25px;
    }

    #Becoming .Header .Header-LF #Body {
        font-size: 14px;
        line-height: 20px;
    }

    #Becoming .Text-Cards h6 {
        font-size: 20px;
        line-height: 28px;
    }

    #Becoming .Text-Cards p,
    #Becoming .Text-Cards li {
        font-size: 14px;
        line-height: 25px;
    }

    #Becoming .Text-Card-Box .Intro-Text {
        font-size: 12px;
    }

    #Becoming .Text-Card-Box .Text-Container h6,
    #Becoming .Utility-Box .Text-Container h6 {
        font-size: 20px;
        line-height: 30px;
    }

    #Becoming .Text-Card-Box .Text-Container .Body-Text {
        font-size: 16px;
        line-height: 25px;
    }

    #Becoming .Utility-Box .Text-Container .Body-Text {
        font-size: 14px;
        line-height: 25px;
    }
}

@media screen and (max-width: 150px) {

    #Becoming .Header .Header-LF h1,
    #Becoming .Text-Cards h6,
    #Becoming .Text-Card-Box .Text-Container h6,
    #Becoming .Utility-Box .Text-Container h6,
    #Becoming .Text-Card-Box .Text-Container .Body-Text {
        font-size: 8px;
        line-height: 15px;
        word-break: break-all;
    }

    #Becoming .Header .Header-LF #Body,
    #Becoming .Text-Cards p,
    #Becoming .Text-Cards li,
    #Becoming .Text-Card-Box .Intro-Text,
    #Becoming .Text-Card-Box .Text-Container li,
    #Becoming .Utility-Box .Text-Container .Body-Text {
        font-size: 5px;
        line-height: 12px;
        word-break: break-all;
    }
}