#Research .Header {
    align-items: flex-start;
}

#Research .Header .Header-LF h1 {
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

#Research .Header .Header-LF #Body {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

#Research .ImageBox-Container .Image-Box {
    border-radius: inherit;
}

#Research .ImageBox-Container .Text-Card .Text-Container .Body-Text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9C9C9C;
}

#Research .ImageBox-Container .Flex-Box {
    padding: var(--flex-gap);
    background-color: #F6F6F6;
    border-radius: 38px;
}

#Research .ImageBox-Container .Image-Box img {
    object-fit: cover;
    height: 100%;
    border-radius: inherit;
}

#Research .TextCards {
    padding: var(--page-padding);
    margin: 2em 0;
    display: flex;
    gap: var(--flex-gap);
}

#Research .TextCards .Left-Flank,
#Research .TextCards .Right-Flank {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
    justify-content: space-between;
}

#Research .TextCards .Text-Card {
    padding: var(--card-padding);
}

#Research .TextCards .Text-Card h6 {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#Research .TextCards .Text-Card .Body-Text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.02em;
    text-align: left;
}

#Research .Top-Tips #Image-Text-Box {
    padding: 0;
    overflow: hidden;
    background: #F6F6F6;
    border-radius: 38px
}

#Research .Top-Tips {
    padding: var(--sectioning-gap);
}

#Research #Image-Text-Box .Text-Card-Box .Text-Container h6 {
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

#Research #Image-Text-Box .Text-Card-Box .Text-Container li {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.02em;
    text-align: left;
}

#Research #Image-Text-Box .Image-Box img {
    object-fit: cover;
    height: 100%;
}

#Research #Image-Text-Box .Text-Card-Box {
    justify-content: center;
    padding: var(--card-padding);
}

@media screen and (max-width: 1728px) {
    #Research .Header .Header-LF h1 {
        font-size: 40px;
        line-height: 50px;
    }

    #Research .Header .Header-LF #Body {
        font-size: 18px;
        line-height: 32px;
    }
}

@media screen and (min-width: 1024px) {
    #Research .Header-LF {
        padding-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    #Research .Header .Header-LF h1 {
        font-size: 30px;
        line-height: 38px;
    }

    #Research .Header .Header-LF #Body {
        font-size: 16px;
        line-height: 25px;
    }

    #Research .ImageBox-Container #Image-Text-Box .Text-Card-Box {
        padding: 0;
    }

    #Research .TextCards {
        flex-direction: column;
    }

    #Research #Image-Text-Box .Text-Card-Box .Text-Container h6 {
        font-size: 35px;
        line-height: 50px;
    }

    #Research #Image-Text-Box .Text-Card-Box .Text-Container li {
        font-size: 16px;
        line-height: 29px;
    }

    #Research .Top-Tips .Flex-Box {
        flex-direction: column-reverse;
    }

    #Research .Header {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    #Research .ImageBox-Container .Flex-Box {
        padding: var(--card-padding);
    }

    #Research .ImageBox-Container .Text-Card .Text-Container .Body-Text {
        font-size: 16px;
        line-height: 22px;
    }

}

@media screen and (max-width: 500px) {

    #Research .Header .Header-LF #Body {
        font-size: 15px;
        line-height: 22px;
    }

    #Research #Image-Text-Box .Text-Card-Box .Text-Container h6 {
        font-size: 30px;
        line-height: 37px;
    }
}

@media screen and (max-width: 280px) {
    #Research .Header .Header-LF h1 {
        font-size: 18px;
        line-height: 25px;
    }

    #Research .Header .Header-LF #Body {
        font-size: 12px;
        line-height: 20px;
    }

    #Research .ImageBox-Container .Flex-Box,
    #Research .TextCards .Text-Card,
    #Research #Image-Text-Box .Text-Card-Box {
        padding: 1em;
    }

    #Research .ImageBox-Container .Text-Card .Text-Container .Body-Text,
    #Research .TextCards .Text-Card .Body-Text,
    #Research #Image-Text-Box .Text-Card-Box .Text-Container li {
        font-size: 14px;
        word-break: break-all;
    }

    #Research .TextCards .Text-Card h6 {
        font-size: 18px;
        line-height: 30px;
        word-break: break-all;
    }

    #Research .TextCards .Text-Card h6 {
        font-size: 15px;
        line-height: 25px;
    }

    #Research #Image-Text-Box .Text-Card-Box .Text-Container h6 {
        font-size: 20px;
        line-height: 30px;
    }
}

@media screen and (max-width: 150px) {

    #Research .Header .Header-LF h1,
    #Research .TextCards .Text-Card h6,
    #Research #Image-Text-Box .Text-Card-Box .Text-Container h6 {
        font-size: 8px;
        line-height: 15px;
        word-break: break-all;
    }

    #Research .Header .Header-LF #Body,
    #Research .ImageBox-Container .Text-Card .Text-Container .Body-Text,
    #Research .TextCards .Text-Card .Body-Text,
    #Research #Image-Text-Box .Text-Card-Box .Text-Container li {
        font-size: 5px;
        line-height: 12px;
        word-break: break-all;
    }

    #Research .ImageBox-Container .Flex-Box,
    #Research .TextCards .Text-Card,
    #Research #Image-Text-Box .Text-Card-Box {
        padding: 5px;
    }

    #Research .TextCards .Text-Card .Icon-Container img {
        width: 15%;
    }
}