#Home .Header-LF h1, #Home .Header-LF h2{
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin: 0;
}

#Home .Header-LF #Body{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    color: #FFFFFF;
}