#BuyTogether .Header {
    align-items: flex-start;
}

#BuyTogether .Text-Cards {
    margin: var(--page-padding);
    padding: var(--sectioning-gap);
}

#BuyTogether .Header .Header-LF h1 {
    font-family: 'Montserrat';
    font-size: 65px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

#BuyTogether .Header .Header-LF #Body {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

#BuyTogether .Text-Cards h6 {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

#BuyTogether .Text-Cards p {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #9C9C9C;
}

#BuyTogether .Text-Cards .Text-Card {
    margin: var(--sectioning-gap);
}

#BuyTogether #Image-Text-Box {
    padding: calc(2 * var(--flex-gap));
    background: #F6F6F6;
    border-radius: 38px;
}

#BuyTogether #Image-Text-Box .Image-Box img,
#BuyTogether .Top-Tips #Image-Text-Box .Image-Box img {
    object-fit: cover;
    height: 100%;
}

#BuyTogether #Image-Text-Box .Text-Card-Box .Intro-Text {
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: #3734A9;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#BuyTogether #Image-Text-Box .Text-Card-Box .Text-Card:nth-child(1) .Text-Container h6 {
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    color: #000000;
}

#BuyTogether #Image-Text-Box .Text-Card .Text-Container h6 {
    font-family: 'Manrope';
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #64607D;
    margin: 0;
}

#BuyTogether #Image-Text-Box .Text-Card .Text-Container .Body-Text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #64607D;
}

#BuyTogether #Image-Text-Box .Text-Card-Box {
    gap: 0;
}

#BuyTogether .Top-Tips,
#BuyTogether .SendMail-Box {
    margin: 6em 0;
}

#BuyTogether .Top-Tips #Image-Text-Box {
    padding: 0;
    overflow: hidden;
}

#BuyTogether .Top-Tips #Image-Text-Box .Text-Card-Box {
    justify-content: center;
    padding: var(--card-padding);
}

#BuyTogether .Top-Tips #Image-Text-Box .Text-Card .Text-Container h6 {
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

#BuyTogether .Top-Tips .Text-Card .Text-Container li {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.02em;
    text-align: left;
}

#BuyTogether .Top-Tips .Text-Card-Box .Intro-Text {
    display: none;
}

@media screen and (max-width: 1728px) {
    #BuyTogether #Image-Text-Box .Text-Card-Box .Text-Card:nth-child(1) .Text-Container h6 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 1440px) {
    #BuyTogether .Header .Header-LF h1 {
        font-size: 50px;
        line-height: 65px;
    }

    #BuyTogether .Header .Header-LF #Body {
        font-size: 20px;
        line-height: 30px;
    }

    #BuyTogether .Text-Cards h6 {
        font-size: 30px;
        line-height: 40px;
    }

    #BuyTogether .Text-Cards p {
        font-size: 18px;
        line-height: 30px;
    }

    #BuyTogether #Image-Text-Box .Text-Card-Box .Text-Card:nth-child(1) .Text-Container h6 {
        font-size: 30px;
        line-height: 40px;
    }

    #BuyTogether #Image-Text-Box .Text-Card .Text-Container .Body-Text {
        font-size: 14px;
        line-height: 30px;
    }

    #BuyTogether #Image-Text-Box .Text-Card .Text-Container h6 {
        font-size: 20px;
        line-height: 30px;
    }

    #BuyTogether #Image-Text-Box {
        padding: var(--flex-gap);
    }
}

@media screen and (min-width: 1024px) {
    #BuyTogether .Header-LF {
        padding-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    #BuyTogether .Header .Header-LF h1 {
        font-size: 40px;
        line-height: 50px;
    }

    #BuyTogether .Header .Header-LF #Body {
        font-size: 17px;
        line-height: 25px;
    }

    #BuyTogether .Top-Tips .Text-Card .Text-Container li {
        font-size: 16px;
        line-height: 29px;
    }

    #BuyTogether .Header {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    #BuyTogether .Text-Cards h6 {
        font-size: 22px;
        line-height: 30px;
    }

    #BuyTogether .Text-Cards p {
        font-size: 15px;
        line-height: 25px;
    }

    #BuyTogether .Top-Tips .Flex-Box {
        flex-direction: column-reverse;
        gap: 0;
    }
}

@media screen and (max-width: 500px) {
    #BuyTogether .Header .Header-LF h1 {
        font-size: 30px;
        line-height: 38px;
    }

    #BuyTogether #Image-Text-Box {
        padding: var(--page-padding);
        border-radius: 0;
        margin: 0;
    }

    #BuyTogether #Image-Text-Box .Text-Card .Icon-Container img {
        width: 20%;
    }

    #BuyTogether .Top-Tips #Image-Text-Box .Text-Card-Box {
        padding: var(--page-padding);
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 280px) {
    #BuyTogether .Header .Header-LF h1 {
        font-size: 20px;
        line-height: 30px;
    }

    #BuyTogether .Header .Header-LF #Body {
        font-size: 14px;
        line-height: 20px;
    }

    #BuyTogether .Text-Cards h6 {
        font-size: 18px;
    }

    #BuyTogether .Text-Cards p {
        font-size: 14px;
        word-break: break-all;
    }

    #BuyTogether #Image-Text-Box .Text-Card-Box .Intro-Text {
        font-size: 12px;
    }

    #BuyTogether #Image-Text-Box .Text-Card-Box .Text-Card:nth-child(1) .Text-Container h6 {
        font-size: 20px;
        line-height: 30px;
    }

    #BuyTogether #Image-Text-Box .Text-Card .Text-Container h6 {
        font-size: 18px;
        line-height: 25px;
    }

    #BuyTogether #Image-Text-Box .Text-Card .Text-Container .Body-Text {
        word-break: break-all;
    }

    #BuyTogether .Top-Tips .Text-Card .Text-Container li {
        font-size: 14px;
        line-height: 25px;
    }
}

@media screen and (max-width: 150px) {

    #BuyTogether .Header .Header-LF h1,
    #BuyTogether .Text-Cards h6,
    #BuyTogether #Image-Text-Box .Text-Card-Box .Text-Card:nth-child(1) .Text-Container h6,
    #BuyTogether #Image-Text-Box .Text-Card .Text-Container h6 {
        font-size: 8px;
        line-height: 15px;
        word-break: break-all;
    }

    #BuyTogether .Header .Header-LF #Body,
    #BuyTogether .Text-Cards p,
    #BuyTogether #Image-Text-Box .Text-Card-Box .Intro-Text,
    #BuyTogether #Image-Text-Box .Text-Card .Text-Container .Body-Text,
    #BuyTogether .Top-Tips .Text-Card .Text-Container li {
        font-size: 5px;
        line-height: 12px;
        word-break: break-all;
    }
}