#Checklist .Header {
    align-items: flex-start;
    justify-content: center;
}

#Checklist .Header .Header-LF h1 {
    font-family: 'Montserrat';
    font-size: 65px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

#Checklist .Header .Header-LF #Body {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 60%;
    margin: auto
}

#Checklist .Hero-Tab {
    background-color: #023555;
    display: flex;
    align-items: center;
    padding: var(--page-padding);
    padding-top: var(--flex-gap);
    padding-bottom: calc(2 * var(--flex-gap));
    gap: 10em;
    justify-content: space-between;
}

#Checklist .Hero-Tab .Left-Flank {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

#Checklist .Hero-Tab .Right-Flank {
    display: flex;
    justify-content: space-between;
    gap: var(--flex-gap);
}

#Checklist .Hero-Tab .Left-Flank h4 {
    font-family: 'Montserrat';
    font-size: 65px;
    font-weight: 500;
    line-height: 87px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
}

#Checklist .Hero-Tab .Right-Flank .Text-Card {
    padding: var(--card-padding);
    border-radius: 17px;
    flex: 1;
}

#Checklist .Hero-Tab .Right-Flank .Text-Container .Body-Text {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: left;
}

#Checklist .Text-Cards {
    margin: var(--page-padding);
    padding: var(--sectioning-gap);
}

#Checklist .Text-Cards .Upper-Section .Text-Card h6 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #006897;
}

#Checklist .Text-Cards .Text-Card .Text-Container li,
#Checklist .Text-Cards .Text-Card .Text-Container .Intro-Text,
#Checklist .Text-Cards .Text-Card .Text-Container .Body-Text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #858585;
}

#Checklist .Text-Cards .Upper-Section .Row-1,
#Checklist .Text-Cards .Upper-Section .Row-2,
#Checklist .Text-Cards .Upper-Section .Row-3 {
    display: flex;
    gap: calc(2 * var(--flex-gap));
    justify-content: space-between
}

#Checklist .Text-Cards .Upper-Section .Text-Card {
    flex: 1;
}

#Checklist .Text-Cards .Lower-Section .Cards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-gap);
    justify-content: space-between;
}

#Checklist .Text-Cards .Lower-Section .Cards .Text-Card {
    padding: var(--card-padding);
    flex-basis: 39%;
    flex-grow: 1;
}

#Checklist .Text-Cards .Lower-Section h4 {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    width: 45%;
}

#Checklist .Text-Cards .Lower-Section h6 {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #006897;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#Checklist .Text-Cards .Lower-Section .Text-Card h6 {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

#Checklist .Text-Cards .Lower-Section .Text-Card .Body-Text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #858585;
}

#Checklist .Text-Cards .Lower-Section .Text-Card .Icon-Container {
    display: flex;
    align-items: center;
    gap: 1em;
}

@media screen and (max-width: 1728px) {
    #Checklist .Hero-Tab .Left-Flank h4 {
        font-size: 55px;
        line-height: 75px;
    }

    #Checklist .Text-Cards .Upper-Section .Text-Card h6 {
        font-size: 30px;
        line-height: 40px;
    }

    #Checklist .Text-Cards .Lower-Section h6 {
        font-size: 25px;
        line-height: 34px;
    }

    #Checklist .Text-Cards .Text-Card .Text-Container li,
    #Checklist .Text-Cards .Text-Card .Text-Container .Intro-Text,
    #Checklist .Text-Cards .Text-Card .Text-Container .Body-Text {
        font-size: 16px;
        line-height: 22px;
    }

    #Checklist .Text-Cards .Lower-Section h4 {
        font-size: 35px;
        line-height: 50px;
        width: 60%;
    }
}

@media screen and (max-width: 1440px) {
    #Checklist .Header .Header-LF h1 {
        font-size: 55px;
        line-height: 70px;
    }

    #Checklist .Header .Header-LF #Body {
        font-size: 18px;
        line-height: 28px;
    }

    #Checklist .Hero-Tab .Left-Flank h4 {
        font-size: 39px;
        line-height: 54px;
    }

    #Checklist .Hero-Tab {
        gap: var(--flex-gap);
    }

    #Checklist .Hero-Tab .Right-Flank {
        gap: 1.5em;
    }

    #Checklist .Hero-Tab .Right-Flank .Icon-Container img {
        width: 35%;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    #Checklist .Hero-Tab .Right-Flank .Text-Container .Body-Text {
        font-size: 12px;
        line-height: 18px;
    }

    #Checklist .Hero-Tab .Right-Flank .Text-Card {
        padding: 1em;
    }
}

@media screen and (max-width: 1024px) {
    #Checklist .Hero-Tab {
        flex-direction: column;
        align-items: initial;
    }

    #Checklist .Header .Header-LF #Body {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
    }

    #Checklist .Text-Cards .Upper-Section .Row-1,
    #Checklist .Text-Cards .Upper-Section .Row-2,
    #Checklist .Text-Cards .Upper-Section .Row-3 {
        flex-direction: column;
        gap: 0;
    }

    #Checklist .Text-Cards .Lower-Section h4 {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    #Checklist .Header .Header-LF h1 {
        font-size: 35px;
        line-height: 42px;
        text-align: left;
    }

    #Checklist .Header .Header-LF #Body {
        width: 100%;
    }

    #Checklist .Hero-Tab .Left-Flank {
        gap: 1em;
    }

    #Checklist .Hero-Tab .Right-Flank {
        flex-direction: column;
    }

    #Checklist .Hero-Tab .Right-Flank .Icon-Container img {
        width: 15%;
    }

    #Checklist .Text-Cards .Lower-Section h4 {
        font-size: 30px;
        line-height: 42px;
    }

    #Checklist .Text-Cards .Lower-Section .Text-Card h6 {
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width: 500px) {

    #Checklist .Text-Cards .Lower-Section .Text-Card .Icon-Container img {
        width: 15%;
    }

}

@media screen and (max-width: 280px) {
    #Checklist .Header .Header-LF h1 {
        font-size: 20px;
        line-height: 30px;
    }

    #Checklist .Hero-Tab .Left-Flank h4,
    #Checklist .Text-Cards .Lower-Section h6 {
        font-size: 18px;
        line-height: 30px;
    }

    #Checklist .Hero-Tab .Right-Flank .Text-Container .Body-Text {
        font-size: 12px;
    }

    #Checklist .Text-Cards .Upper-Section .Text-Card h6,
    #Checklist .Text-Cards .Lower-Section h4 {
        font-size: 20px;
        line-height: 30px;
    }

    #Checklist .Header .Header-LF #Body,
    #Checklist .Text-Cards .Text-Card .Text-Container li,
    #Checklist .Text-Cards .Text-Card .Text-Container .Intro-Text,
    #Checklist .Text-Cards .Text-Card .Text-Container .Body-Text {
        font-size: 14px;
        line-height: 20px;
    }

    #Checklist .Text-Cards .Lower-Section .Text-Card .Icon-Container {
        flex-direction: column;
        align-items: initial;
    }

    #Checklist .Text-Cards .Lower-Section .Text-Card h6 {
        font-size: 16px;
    }

    #Checklist .Text-Cards .Lower-Section .Cards .Text-Card {
        padding: 0.5em;
    }
}

@media screen and (max-width: 150px) {

    #Checklist .Hero-Tab .Right-Flank .Text-Container .Body-Text,
    #Checklist .Header .Header-LF #Body,
    #Checklist .Text-Cards .Text-Card .Text-Container li,
    #Checklist .Text-Cards .Text-Card .Text-Container .Intro-Text,
    #Checklist .Text-Cards .Text-Card .Text-Container .Body-Text {
        font-size: 5px;
        line-height: 12px;
        word-break: break-all;
    }

    #Checklist .Header .Header-LF h1,
    #Checklist .Hero-Tab .Left-Flank h4,
    #Checklist .Text-Cards .Lower-Section h6,
    #Checklist .Text-Cards .Upper-Section .Text-Card h6,
    #Checklist .Text-Cards .Lower-Section h4,
    #Checklist .Text-Cards .Lower-Section .Text-Card h6 {
        font-size: 8px;
        line-height: 15px;
        word-break: break-all;
    }

    #Checklist .Hero-Tab .Left-Flank button {
        display: none;
    }

    #Checklist .Hero-Tab .Right-Flank .Text-Card,
    #Checklist .Text-Cards .Lower-Section .Cards .Text-Card {
        padding: 5px;
    }
}